/* fontes */
/* navbar */
/*conteudo principal - title-1 - portal de noticias */

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:wght@100&display=swap');
/* card-titke-conteúdo principal - index */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Slab:wght@500&display=swap');
/* conteúdo principal_card-text */
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
/* page-one_conteúdo principal_sbt-2 */
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Sofia+Sans:ital,wght@1,1&display=swap');

:root{
    --navbar-letras: #215db8;
    --navbar-letras-hover: #0d68f0;
    --navbar-fundo: #29b668;
    --letras-chamada: #da6019;
    --letras-chamada-2: #2d8f52;
    --btn-hover:#438661;;
    --sub-1:#417457;;
    

}
/* início navbar */
.navbar-brand {
    font-family:'', sans-serif ;
    color: var(--navbar-letras);
    font-style: italic;
    font-size: 25pt;
}

.navbar-brand:hover {
    color: var(--navbar-letras-hover);
}

.offcanvas-title {
    font-family:'', sans-serif ;
    color: var(--navbar-letras);
}

.subtitulo {
    margin-left: -1880px;
    margin-top: 50px;
}
.subtitulo {
    font-family:'', sans-serif ;
    font-size: 10pt;
    font-style: italic;
    color: var(--navbar-letras);

}

/* Fim navbar */

/* Início do conteúdo */
.title-1 {
    margin-top: 135px;
}

.title-1 {
    font-family:"Racing Sans One", cursive;
    color: var(--navbar-letras);
}

.title-1 {
    border: solid var(--navbar-fundo) 3px;
    width: auto;
    text-align: center;
    border-radius: 15px;
}

.card-title {
    font-size: 20pt;
    color: var(--letras-chamada);
    font-family: 'Roboto Slab', sans-serif;
    font-style: italic;
}

.bg-body-color {
    background-color: var(--navbar-fundo);
}

.carousel-indicators{
    height: 500px;
}

.card-img-top {
    width: auto;
    height: 300px;
    border-radius: 0 0 15px 15px ;
}

.card-text {
    font-family:'Mohave', sans-serif ;
    font-style: italic;
    font-size: 15pt;
}

.btn-primary {
    background-color: var(--navbar-fundo);
    border: none;
    
}
.btn-primary:hover {
    background-color: var(--btn-hover);
}

/* estilos page-one */
/* conteúdo principal */
.title-2 {
    margin-top: 150px;
}

.title-2 {
    font-family:"Racing Sans One", cursive;
    font-size: 35pt;
    color: var(--navbar-letras);
}

.title-2 {
    text-align: center;
    border-radius: 15px;
}

.sbt-2 {
    font-size: 20pt;
    font-style: italic;
    font-family:'Sofia Sans', sans-serif ;
    font-weight: bold;
    color: var(--sub-1);
}

.lh-1 {
    word-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    text-align: justify;
}

.imag-corp {
    width: 800px;
    height: 500px;
    margin-left: 175px;
}

.sbt-3 {
    font-family: 'Sofia Sans';
    color: var(--letras-chamada-2);
    font-weight: bold;
}

.li-nk {
    text-decoration: none;
    color: var(--letras-chamada);
}

/* Formulário */
.container {
    margin-top: 150px;
}

/* footer */
.roda-pe {
    background-color: var(--navbar-fundo);
}

.roda-pe {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.icon-image {
    width: 25px;
    height: 25px;
}


.text-body-secondary {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* caixa de sugestões */
textarea {
    height: 120px;
    margin: 30px 0 25px 0;
    padding: 10px;
    font-size: 18px;
}

.form-suggest {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-suggest {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    margin: 30px auto;
    height: 100%;
}

